button {
    background: cornflowerblue;
    width: 100%;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    transform: translateY(-15%);
}

a.active > * {
    background: darkcyan;
    color: white;
    border-radius: 8px;
}