.products-listing-wrapper {
    padding: 20px;
    background: var(--lightblue);
}
.products-listing-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.products-listing-main > * {
    margin: 10px;
}