.footer-wrapper {
    height: 100%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer-buttons {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

button {
    background: cornflowerblue;
    width: 100%;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    transform: translateY(-15%);
}

a.active > * {
    background: darkcyan;
    color: white;
    border-radius: 8px;
}
