.bottom-navigation-root > * {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottom-navigation-action-root {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.7791491596638656) 40%, rgba(0,212,255,1) 100%);
    color: black !important;
    max-width: 100% !important;
}

.selected {
    color: white;
}

.selected > * {
    color: white;
}
