.app-wrapper {
    position: relative; /* needed for positioning contextMenu absolutely */
    width: 100vw;
    height: 100vh;
}

.app-header {
    height: 15vh;
}
.app-main {
    
    min-height: 70vh;
}
.app-footer {
    height: 15vh;
}